asgiref==3.5.2
config==0.5.1
Django==4.1.2
django-cors-headers==3.13.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
pg==0.1
Pillow==9.2.0
psycopg-binary==3.1.4
psycopg2==2.9.5
PyJWT==2.6.0
PyOpenGL==3.1.6
pytz==2022.5
sqlparse==0.4.3
